@charset "UTF-8";
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template, [hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/*csslint important:false*/
/* ==========================================================================
   Pure Base Extras
   ========================================================================== */
/**
 * Extra rules that Pure adds on top of Normalize.css
 */
html {
  font-family: sans-serif;
}

/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */
.hidden, [hidden] {
  display: none !important;
}

/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */
.x-img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*!
Pure v2.1.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/x-css/pure/blob/master/LICENSE
*/
.x-button {
  /* Structure */
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.x-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Firefox: Get rid of the inner focus border */
/* Inherit .x-g styles */
.x-button-group {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus {
  word-spacing: -0.43em;
}

.x-button-group {
  word-spacing: -0.43em;
}
.x-button-group .x-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/*csslint outline-none:false*/
.x-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.x-button-hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.x-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
.x-button:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  outline: 0;
}

.x-button-active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.x-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}
.x-button[disabled] {
  border: none;
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}

.x-button-disabled {
  border: none;
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}
.x-button-disabled:hover, .x-button-disabled:focus, .x-button-disabled:active {
  border: none;
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}

.x-button-hidden {
  display: none;
}

.x-button-primary, .x-button-selected {
  background-color: rgb(0, 120, 231);
  color: #fff;
}

a.x-button-primary, a.x-button-selected {
  background-color: rgb(0, 120, 231);
  color: #fff;
}

/* Button Groups */
.x-button-group .x-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.x-button-group .x-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.x-button-group .x-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

/*!
Pure v2.1.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/x-css/pure/blob/master/LICENSE
*/
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/
.x-form input[type=text], .x-form input[type=password], .x-form input[type=email], .x-form input[type=url], .x-form input[type=date], .x-form input[type=month], .x-form input[type=time], .x-form input[type=datetime], .x-form input[type=datetime-local], .x-form input[type=week], .x-form input[type=number], .x-form input[type=search], .x-form input[type=tel], .x-form input[type=color] {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.x-form select, .x-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.x-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.x-form input[type=color] {
  padding: 0.2em 0.5em;
}
.x-form input[type=text]:focus, .x-form input[type=password]:focus, .x-form input[type=email]:focus, .x-form input[type=url]:focus, .x-form input[type=date]:focus, .x-form input[type=month]:focus, .x-form input[type=time]:focus, .x-form input[type=datetime]:focus, .x-form input[type=datetime-local]:focus, .x-form input[type=week]:focus, .x-form input[type=number]:focus, .x-form input[type=search]:focus, .x-form input[type=tel]:focus, .x-form input[type=color]:focus {
  outline: 0;
  border-color: #129FEA;
}
.x-form select:focus, .x-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}
.x-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA;
}
.x-form input[type=file]:focus, .x-form input[type=radio]:focus, .x-form input[type=checkbox]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}
.x-form .x-checkbox, .x-form .x-radio {
  margin: 0.5em 0;
  display: block;
}
.x-form input[type=text][disabled], .x-form input[type=password][disabled], .x-form input[type=email][disabled], .x-form input[type=url][disabled], .x-form input[type=date][disabled], .x-form input[type=month][disabled], .x-form input[type=time][disabled], .x-form input[type=datetime][disabled], .x-form input[type=datetime-local][disabled], .x-form input[type=week][disabled], .x-form input[type=number][disabled], .x-form input[type=search][disabled], .x-form input[type=tel][disabled], .x-form input[type=color][disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.x-form select[disabled], .x-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.x-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.x-form input[readonly] {
  background-color: #eee;
  /* menu hover bg color */
  color: #777;
  /* menu text color */
  border-color: #ccc;
}
.x-form select[readonly], .x-form textarea[readonly] {
  background-color: #eee;
  /* menu hover bg color */
  color: #777;
  /* menu text color */
  border-color: #ccc;
}
.x-form input:focus:invalid, .x-form textarea:focus:invalid, .x-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}
.x-form input[type=file]:focus:invalid:focus, .x-form input[type=radio]:focus:invalid:focus, .x-form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d;
}
.x-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}
.x-form select[multiple] {
  height: auto;
}
.x-form label {
  margin: 0.5em 0 0.2em;
}
.x-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.x-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.x-form-stacked input[type=text], .x-form-stacked input[type=password], .x-form-stacked input[type=email], .x-form-stacked input[type=url], .x-form-stacked input[type=date], .x-form-stacked input[type=month], .x-form-stacked input[type=time], .x-form-stacked input[type=datetime], .x-form-stacked input[type=datetime-local], .x-form-stacked input[type=week], .x-form-stacked input[type=number], .x-form-stacked input[type=search], .x-form-stacked input[type=tel], .x-form-stacked input[type=color], .x-form-stacked input[type=file] {
  display: block;
  margin: 0.25em 0;
}
.x-form-stacked select, .x-form-stacked label, .x-form-stacked textarea, .x-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.x-form-aligned input, .x-form-aligned textarea, .x-form-aligned select {
  display: inline-block;
  vertical-align: middle;
}

.x-form-message-inline {
  display: inline-block;
  vertical-align: middle;
}

.x-form-aligned textarea {
  vertical-align: top;
}
.x-form-aligned .x-control-group {
  margin-bottom: 0.5em;
}
.x-form-aligned .x-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.x-form-aligned .x-controls {
  margin: 1.5em 0 0 11em;
}

/* Aligned Forms */
/* Rounded Inputs */
.x-form input.x-input-rounded, .x-form .x-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}
.x-form .x-group fieldset {
  margin-bottom: 10px;
}
.x-form .x-group input, .x-form .x-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.x-form .x-group input:focus, .x-form .x-group textarea:focus {
  z-index: 3;
}
.x-form .x-group input:first-child, .x-form .x-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}
.x-form .x-group input:first-child:last-child, .x-form .x-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}
.x-form .x-group input:last-child, .x-form .x-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}
.x-form .x-group button {
  margin: 0.35em 0;
}
.x-form .x-input-1 {
  width: 100%;
}
.x-form .x-input-3-4 {
  width: 75%;
}
.x-form .x-input-2-3 {
  width: 66%;
}
.x-form .x-input-1-2 {
  width: 50%;
}
.x-form .x-input-1-3 {
  width: 33%;
}
.x-form .x-input-1-4 {
  width: 25%;
}

/* Grouped Inputs */
/* Inline help for forms */
.x-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.x-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

@media only screen and (max-width: 480px) {
  .x-form button[type=submit] {
    margin: 0.7em 0 0;
  }
  .x-form input:not([type]), .x-form input[type=text], .x-form input[type=password], .x-form input[type=email], .x-form input[type=url], .x-form input[type=date], .x-form input[type=month], .x-form input[type=time], .x-form input[type=datetime], .x-form input[type=datetime-local], .x-form input[type=week], .x-form input[type=number], .x-form input[type=search], .x-form input[type=tel], .x-form input[type=color] {
    margin-bottom: 0.3em;
    display: block;
  }
  .x-form label {
    margin-bottom: 0.3em;
    display: block;
  }

  .x-group input:not([type]), .x-group input[type=text], .x-group input[type=password], .x-group input[type=email], .x-group input[type=url], .x-group input[type=date], .x-group input[type=month], .x-group input[type=time], .x-group input[type=datetime], .x-group input[type=datetime-local], .x-group input[type=week], .x-group input[type=number], .x-group input[type=search], .x-group input[type=tel], .x-group input[type=color] {
    margin-bottom: 0;
  }

  .x-form-aligned .x-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }
  .x-form-aligned .x-controls {
    margin: 1.5em 0 0 0;
  }

  .x-form-message-inline, .x-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
  }
}
/*!
Pure v2.1.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/x-css/pure/blob/master/LICENSE
*/
/*csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/
.x-g {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  /*
  Sets the font stack to fonts known to work properly with the above letter
  and word spacings. See: https://github.com/x-css/pure/issues/41/

  The following font stack makes Pure Grids work on all known environments.

  * FreeSans: Ships with many Linux distros, including Ubuntu

  * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
    Arial to get picked up by the browser, even though neither is available
    in Chrome OS.

  * Droid Sans: Ships with all versions of Android.

  * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
  */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  /* Use flexbox when possible to avoid `letter-spacing` side-effects. */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  /* Prevents distributing space between rows */
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

/* IE10 display: -ms-flexbox (and display: flex in IE 11) does not work inside a table; fall back to block and rely on font hack */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table .x-g {
    display: block;
  }
}
/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus, .x-g {
  word-spacing: -0.43em;
}

.x-u {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.x-g [class*=x-u] {
  font-family: sans-serif;
}

.x-u-1, .x-u-1-1, .x-u-1-2, .x-u-1-3, .x-u-2-3, .x-u-1-4, .x-u-3-4, .x-u-1-5, .x-u-2-5, .x-u-3-5, .x-u-4-5, .x-u-5-5, .x-u-1-6, .x-u-5-6, .x-u-1-8, .x-u-3-8, .x-u-5-8, .x-u-7-8, .x-u-1-12, .x-u-5-12, .x-u-7-12, .x-u-11-12, .x-u-1-24, .x-u-2-24, .x-u-3-24, .x-u-4-24, .x-u-5-24, .x-u-6-24, .x-u-7-24, .x-u-8-24, .x-u-9-24, .x-u-10-24, .x-u-11-24, .x-u-12-24, .x-u-13-24, .x-u-14-24, .x-u-15-24, .x-u-16-24, .x-u-17-24, .x-u-18-24, .x-u-19-24, .x-u-20-24, .x-u-21-24, .x-u-22-24, .x-u-23-24, .x-u-24-24 {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.x-u-1-24 {
  width: 4.1667%;
}

.x-u-1-12, .x-u-2-24 {
  width: 8.3333%;
}

.x-u-1-8, .x-u-3-24 {
  width: 12.5%;
}

.x-u-1-6, .x-u-4-24 {
  width: 16.6667%;
}

.x-u-1-5 {
  width: 20%;
}

.x-u-5-24 {
  width: 20.8333%;
}

.x-u-1-4, .x-u-6-24 {
  width: 25%;
}

.x-u-7-24 {
  width: 29.1667%;
}

.x-u-1-3, .x-u-8-24 {
  width: 33.3333%;
}

.x-u-3-8, .x-u-9-24 {
  width: 37.5%;
}

.x-u-2-5 {
  width: 40%;
}

.x-u-5-12, .x-u-10-24 {
  width: 41.6667%;
}

.x-u-11-24 {
  width: 45.8333%;
}

.x-u-1-2, .x-u-12-24 {
  width: 50%;
}

.x-u-13-24 {
  width: 54.1667%;
}

.x-u-7-12, .x-u-14-24 {
  width: 58.3333%;
}

.x-u-3-5 {
  width: 60%;
}

.x-u-5-8, .x-u-15-24 {
  width: 62.5%;
}

.x-u-2-3, .x-u-16-24 {
  width: 66.6667%;
}

.x-u-17-24 {
  width: 70.8333%;
}

.x-u-3-4, .x-u-18-24 {
  width: 75%;
}

.x-u-19-24 {
  width: 79.1667%;
}

.x-u-4-5 {
  width: 80%;
}

.x-u-5-6, .x-u-20-24 {
  width: 83.3333%;
}

.x-u-7-8, .x-u-21-24 {
  width: 87.5%;
}

.x-u-11-12, .x-u-22-24 {
  width: 91.6667%;
}

.x-u-23-24 {
  width: 95.8333%;
}

.x-u-1, .x-u-1-1, .x-u-5-5, .x-u-24-24 {
  width: 100%;
}

/*!
Pure v2.1.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/x-css/pure/blob/master/LICENSE
*/
@media screen and (min-width: 35.5em) {
  .x-u-sm-1, .x-u-sm-1-1, .x-u-sm-1-2, .x-u-sm-1-3, .x-u-sm-2-3, .x-u-sm-1-4, .x-u-sm-3-4, .x-u-sm-1-5, .x-u-sm-2-5, .x-u-sm-3-5, .x-u-sm-4-5, .x-u-sm-5-5, .x-u-sm-1-6, .x-u-sm-5-6, .x-u-sm-1-8, .x-u-sm-3-8, .x-u-sm-5-8, .x-u-sm-7-8, .x-u-sm-1-12, .x-u-sm-5-12, .x-u-sm-7-12, .x-u-sm-11-12, .x-u-sm-1-24, .x-u-sm-2-24, .x-u-sm-3-24, .x-u-sm-4-24, .x-u-sm-5-24, .x-u-sm-6-24, .x-u-sm-7-24, .x-u-sm-8-24, .x-u-sm-9-24, .x-u-sm-10-24, .x-u-sm-11-24, .x-u-sm-12-24, .x-u-sm-13-24, .x-u-sm-14-24, .x-u-sm-15-24, .x-u-sm-16-24, .x-u-sm-17-24, .x-u-sm-18-24, .x-u-sm-19-24, .x-u-sm-20-24, .x-u-sm-21-24, .x-u-sm-22-24, .x-u-sm-23-24, .x-u-sm-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .x-u-sm-1-24 {
    width: 4.1667%;
  }

  .x-u-sm-1-12, .x-u-sm-2-24 {
    width: 8.3333%;
  }

  .x-u-sm-1-8, .x-u-sm-3-24 {
    width: 12.5%;
  }

  .x-u-sm-1-6, .x-u-sm-4-24 {
    width: 16.6667%;
  }

  .x-u-sm-1-5 {
    width: 20%;
  }

  .x-u-sm-5-24 {
    width: 20.8333%;
  }

  .x-u-sm-1-4, .x-u-sm-6-24 {
    width: 25%;
  }

  .x-u-sm-7-24 {
    width: 29.1667%;
  }

  .x-u-sm-1-3, .x-u-sm-8-24 {
    width: 33.3333%;
  }

  .x-u-sm-3-8, .x-u-sm-9-24 {
    width: 37.5%;
  }

  .x-u-sm-2-5 {
    width: 40%;
  }

  .x-u-sm-5-12, .x-u-sm-10-24 {
    width: 41.6667%;
  }

  .x-u-sm-11-24 {
    width: 45.8333%;
  }

  .x-u-sm-1-2, .x-u-sm-12-24 {
    width: 50%;
  }

  .x-u-sm-13-24 {
    width: 54.1667%;
  }

  .x-u-sm-7-12, .x-u-sm-14-24 {
    width: 58.3333%;
  }

  .x-u-sm-3-5 {
    width: 60%;
  }

  .x-u-sm-5-8, .x-u-sm-15-24 {
    width: 62.5%;
  }

  .x-u-sm-2-3, .x-u-sm-16-24 {
    width: 66.6667%;
  }

  .x-u-sm-17-24 {
    width: 70.8333%;
  }

  .x-u-sm-3-4, .x-u-sm-18-24 {
    width: 75%;
  }

  .x-u-sm-19-24 {
    width: 79.1667%;
  }

  .x-u-sm-4-5 {
    width: 80%;
  }

  .x-u-sm-5-6, .x-u-sm-20-24 {
    width: 83.3333%;
  }

  .x-u-sm-7-8, .x-u-sm-21-24 {
    width: 87.5%;
  }

  .x-u-sm-11-12, .x-u-sm-22-24 {
    width: 91.6667%;
  }

  .x-u-sm-23-24 {
    width: 95.8333%;
  }

  .x-u-sm-1, .x-u-sm-1-1, .x-u-sm-5-5, .x-u-sm-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .x-u-md-1, .x-u-md-1-1, .x-u-md-1-2, .x-u-md-1-3, .x-u-md-2-3, .x-u-md-1-4, .x-u-md-3-4, .x-u-md-1-5, .x-u-md-2-5, .x-u-md-3-5, .x-u-md-4-5, .x-u-md-5-5, .x-u-md-1-6, .x-u-md-5-6, .x-u-md-1-8, .x-u-md-3-8, .x-u-md-5-8, .x-u-md-7-8, .x-u-md-1-12, .x-u-md-5-12, .x-u-md-7-12, .x-u-md-11-12, .x-u-md-1-24, .x-u-md-2-24, .x-u-md-3-24, .x-u-md-4-24, .x-u-md-5-24, .x-u-md-6-24, .x-u-md-7-24, .x-u-md-8-24, .x-u-md-9-24, .x-u-md-10-24, .x-u-md-11-24, .x-u-md-12-24, .x-u-md-13-24, .x-u-md-14-24, .x-u-md-15-24, .x-u-md-16-24, .x-u-md-17-24, .x-u-md-18-24, .x-u-md-19-24, .x-u-md-20-24, .x-u-md-21-24, .x-u-md-22-24, .x-u-md-23-24, .x-u-md-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .x-u-md-1-24 {
    width: 4.1667%;
  }

  .x-u-md-1-12, .x-u-md-2-24 {
    width: 8.3333%;
  }

  .x-u-md-1-8, .x-u-md-3-24 {
    width: 12.5%;
  }

  .x-u-md-1-6, .x-u-md-4-24 {
    width: 16.6667%;
  }

  .x-u-md-1-5 {
    width: 20%;
  }

  .x-u-md-5-24 {
    width: 20.8333%;
  }

  .x-u-md-1-4, .x-u-md-6-24 {
    width: 25%;
  }

  .x-u-md-7-24 {
    width: 29.1667%;
  }

  .x-u-md-1-3, .x-u-md-8-24 {
    width: 33.3333%;
  }

  .x-u-md-3-8, .x-u-md-9-24 {
    width: 37.5%;
  }

  .x-u-md-2-5 {
    width: 40%;
  }

  .x-u-md-5-12, .x-u-md-10-24 {
    width: 41.6667%;
  }

  .x-u-md-11-24 {
    width: 45.8333%;
  }

  .x-u-md-1-2, .x-u-md-12-24 {
    width: 50%;
  }

  .x-u-md-13-24 {
    width: 54.1667%;
  }

  .x-u-md-7-12, .x-u-md-14-24 {
    width: 58.3333%;
  }

  .x-u-md-3-5 {
    width: 60%;
  }

  .x-u-md-5-8, .x-u-md-15-24 {
    width: 62.5%;
  }

  .x-u-md-2-3, .x-u-md-16-24 {
    width: 66.6667%;
  }

  .x-u-md-17-24 {
    width: 70.8333%;
  }

  .x-u-md-3-4, .x-u-md-18-24 {
    width: 75%;
  }

  .x-u-md-19-24 {
    width: 79.1667%;
  }

  .x-u-md-4-5 {
    width: 80%;
  }

  .x-u-md-5-6, .x-u-md-20-24 {
    width: 83.3333%;
  }

  .x-u-md-7-8, .x-u-md-21-24 {
    width: 87.5%;
  }

  .x-u-md-11-12, .x-u-md-22-24 {
    width: 91.6667%;
  }

  .x-u-md-23-24 {
    width: 95.8333%;
  }

  .x-u-md-1, .x-u-md-1-1, .x-u-md-5-5, .x-u-md-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .x-u-lg-1, .x-u-lg-1-1, .x-u-lg-1-2, .x-u-lg-1-3, .x-u-lg-2-3, .x-u-lg-1-4, .x-u-lg-3-4, .x-u-lg-1-5, .x-u-lg-2-5, .x-u-lg-3-5, .x-u-lg-4-5, .x-u-lg-5-5, .x-u-lg-1-6, .x-u-lg-5-6, .x-u-lg-1-8, .x-u-lg-3-8, .x-u-lg-5-8, .x-u-lg-7-8, .x-u-lg-1-12, .x-u-lg-5-12, .x-u-lg-7-12, .x-u-lg-11-12, .x-u-lg-1-24, .x-u-lg-2-24, .x-u-lg-3-24, .x-u-lg-4-24, .x-u-lg-5-24, .x-u-lg-6-24, .x-u-lg-7-24, .x-u-lg-8-24, .x-u-lg-9-24, .x-u-lg-10-24, .x-u-lg-11-24, .x-u-lg-12-24, .x-u-lg-13-24, .x-u-lg-14-24, .x-u-lg-15-24, .x-u-lg-16-24, .x-u-lg-17-24, .x-u-lg-18-24, .x-u-lg-19-24, .x-u-lg-20-24, .x-u-lg-21-24, .x-u-lg-22-24, .x-u-lg-23-24, .x-u-lg-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .x-u-lg-1-24 {
    width: 4.1667%;
  }

  .x-u-lg-1-12, .x-u-lg-2-24 {
    width: 8.3333%;
  }

  .x-u-lg-1-8, .x-u-lg-3-24 {
    width: 12.5%;
  }

  .x-u-lg-1-6, .x-u-lg-4-24 {
    width: 16.6667%;
  }

  .x-u-lg-1-5 {
    width: 20%;
  }

  .x-u-lg-5-24 {
    width: 20.8333%;
  }

  .x-u-lg-1-4, .x-u-lg-6-24 {
    width: 25%;
  }

  .x-u-lg-7-24 {
    width: 29.1667%;
  }

  .x-u-lg-1-3, .x-u-lg-8-24 {
    width: 33.3333%;
  }

  .x-u-lg-3-8, .x-u-lg-9-24 {
    width: 37.5%;
  }

  .x-u-lg-2-5 {
    width: 40%;
  }

  .x-u-lg-5-12, .x-u-lg-10-24 {
    width: 41.6667%;
  }

  .x-u-lg-11-24 {
    width: 45.8333%;
  }

  .x-u-lg-1-2, .x-u-lg-12-24 {
    width: 50%;
  }

  .x-u-lg-13-24 {
    width: 54.1667%;
  }

  .x-u-lg-7-12, .x-u-lg-14-24 {
    width: 58.3333%;
  }

  .x-u-lg-3-5 {
    width: 60%;
  }

  .x-u-lg-5-8, .x-u-lg-15-24 {
    width: 62.5%;
  }

  .x-u-lg-2-3, .x-u-lg-16-24 {
    width: 66.6667%;
  }

  .x-u-lg-17-24 {
    width: 70.8333%;
  }

  .x-u-lg-3-4, .x-u-lg-18-24 {
    width: 75%;
  }

  .x-u-lg-19-24 {
    width: 79.1667%;
  }

  .x-u-lg-4-5 {
    width: 80%;
  }

  .x-u-lg-5-6, .x-u-lg-20-24 {
    width: 83.3333%;
  }

  .x-u-lg-7-8, .x-u-lg-21-24 {
    width: 87.5%;
  }

  .x-u-lg-11-12, .x-u-lg-22-24 {
    width: 91.6667%;
  }

  .x-u-lg-23-24 {
    width: 95.8333%;
  }

  .x-u-lg-1, .x-u-lg-1-1, .x-u-lg-5-5, .x-u-lg-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .x-u-xl-1, .x-u-xl-1-1, .x-u-xl-1-2, .x-u-xl-1-3, .x-u-xl-2-3, .x-u-xl-1-4, .x-u-xl-3-4, .x-u-xl-1-5, .x-u-xl-2-5, .x-u-xl-3-5, .x-u-xl-4-5, .x-u-xl-5-5, .x-u-xl-1-6, .x-u-xl-5-6, .x-u-xl-1-8, .x-u-xl-3-8, .x-u-xl-5-8, .x-u-xl-7-8, .x-u-xl-1-12, .x-u-xl-5-12, .x-u-xl-7-12, .x-u-xl-11-12, .x-u-xl-1-24, .x-u-xl-2-24, .x-u-xl-3-24, .x-u-xl-4-24, .x-u-xl-5-24, .x-u-xl-6-24, .x-u-xl-7-24, .x-u-xl-8-24, .x-u-xl-9-24, .x-u-xl-10-24, .x-u-xl-11-24, .x-u-xl-12-24, .x-u-xl-13-24, .x-u-xl-14-24, .x-u-xl-15-24, .x-u-xl-16-24, .x-u-xl-17-24, .x-u-xl-18-24, .x-u-xl-19-24, .x-u-xl-20-24, .x-u-xl-21-24, .x-u-xl-22-24, .x-u-xl-23-24, .x-u-xl-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .x-u-xl-1-24 {
    width: 4.1667%;
  }

  .x-u-xl-1-12, .x-u-xl-2-24 {
    width: 8.3333%;
  }

  .x-u-xl-1-8, .x-u-xl-3-24 {
    width: 12.5%;
  }

  .x-u-xl-1-6, .x-u-xl-4-24 {
    width: 16.6667%;
  }

  .x-u-xl-1-5 {
    width: 20%;
  }

  .x-u-xl-5-24 {
    width: 20.8333%;
  }

  .x-u-xl-1-4, .x-u-xl-6-24 {
    width: 25%;
  }

  .x-u-xl-7-24 {
    width: 29.1667%;
  }

  .x-u-xl-1-3, .x-u-xl-8-24 {
    width: 33.3333%;
  }

  .x-u-xl-3-8, .x-u-xl-9-24 {
    width: 37.5%;
  }

  .x-u-xl-2-5 {
    width: 40%;
  }

  .x-u-xl-5-12, .x-u-xl-10-24 {
    width: 41.6667%;
  }

  .x-u-xl-11-24 {
    width: 45.8333%;
  }

  .x-u-xl-1-2, .x-u-xl-12-24 {
    width: 50%;
  }

  .x-u-xl-13-24 {
    width: 54.1667%;
  }

  .x-u-xl-7-12, .x-u-xl-14-24 {
    width: 58.3333%;
  }

  .x-u-xl-3-5 {
    width: 60%;
  }

  .x-u-xl-5-8, .x-u-xl-15-24 {
    width: 62.5%;
  }

  .x-u-xl-2-3, .x-u-xl-16-24 {
    width: 66.6667%;
  }

  .x-u-xl-17-24 {
    width: 70.8333%;
  }

  .x-u-xl-3-4, .x-u-xl-18-24 {
    width: 75%;
  }

  .x-u-xl-19-24 {
    width: 79.1667%;
  }

  .x-u-xl-4-5 {
    width: 80%;
  }

  .x-u-xl-5-6, .x-u-xl-20-24 {
    width: 83.3333%;
  }

  .x-u-xl-7-8, .x-u-xl-21-24 {
    width: 87.5%;
  }

  .x-u-xl-11-12, .x-u-xl-22-24 {
    width: 91.6667%;
  }

  .x-u-xl-23-24 {
    width: 95.8333%;
  }

  .x-u-xl-1, .x-u-xl-1-1, .x-u-xl-5-5, .x-u-xl-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 120em) {
  .x-u-xxl-1, .x-u-xxl-1-1, .x-u-xxl-1-2, .x-u-xxl-1-3, .x-u-xxl-2-3, .x-u-xxl-1-4, .x-u-xxl-3-4, .x-u-xxl-1-5, .x-u-xxl-2-5, .x-u-xxl-3-5, .x-u-xxl-4-5, .x-u-xxl-5-5, .x-u-xxl-1-6, .x-u-xxl-5-6, .x-u-xxl-1-8, .x-u-xxl-3-8, .x-u-xxl-5-8, .x-u-xxl-7-8, .x-u-xxl-1-12, .x-u-xxl-5-12, .x-u-xxl-7-12, .x-u-xxl-11-12, .x-u-xxl-1-24, .x-u-xxl-2-24, .x-u-xxl-3-24, .x-u-xxl-4-24, .x-u-xxl-5-24, .x-u-xxl-6-24, .x-u-xxl-7-24, .x-u-xxl-8-24, .x-u-xxl-9-24, .x-u-xxl-10-24, .x-u-xxl-11-24, .x-u-xxl-12-24, .x-u-xxl-13-24, .x-u-xxl-14-24, .x-u-xxl-15-24, .x-u-xxl-16-24, .x-u-xxl-17-24, .x-u-xxl-18-24, .x-u-xxl-19-24, .x-u-xxl-20-24, .x-u-xxl-21-24, .x-u-xxl-22-24, .x-u-xxl-23-24, .x-u-xxl-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .x-u-xxl-1-24 {
    width: 4.1667%;
  }

  .x-u-xxl-1-12, .x-u-xxl-2-24 {
    width: 8.3333%;
  }

  .x-u-xxl-1-8, .x-u-xxl-3-24 {
    width: 12.5%;
  }

  .x-u-xxl-1-6, .x-u-xxl-4-24 {
    width: 16.6667%;
  }

  .x-u-xxl-1-5 {
    width: 20%;
  }

  .x-u-xxl-5-24 {
    width: 20.8333%;
  }

  .x-u-xxl-1-4, .x-u-xxl-6-24 {
    width: 25%;
  }

  .x-u-xxl-7-24 {
    width: 29.1667%;
  }

  .x-u-xxl-1-3, .x-u-xxl-8-24 {
    width: 33.3333%;
  }

  .x-u-xxl-3-8, .x-u-xxl-9-24 {
    width: 37.5%;
  }

  .x-u-xxl-2-5 {
    width: 40%;
  }

  .x-u-xxl-5-12, .x-u-xxl-10-24 {
    width: 41.6667%;
  }

  .x-u-xxl-11-24 {
    width: 45.8333%;
  }

  .x-u-xxl-1-2, .x-u-xxl-12-24 {
    width: 50%;
  }

  .x-u-xxl-13-24 {
    width: 54.1667%;
  }

  .x-u-xxl-7-12, .x-u-xxl-14-24 {
    width: 58.3333%;
  }

  .x-u-xxl-3-5 {
    width: 60%;
  }

  .x-u-xxl-5-8, .x-u-xxl-15-24 {
    width: 62.5%;
  }

  .x-u-xxl-2-3, .x-u-xxl-16-24 {
    width: 66.6667%;
  }

  .x-u-xxl-17-24 {
    width: 70.8333%;
  }

  .x-u-xxl-3-4, .x-u-xxl-18-24 {
    width: 75%;
  }

  .x-u-xxl-19-24 {
    width: 79.1667%;
  }

  .x-u-xxl-4-5 {
    width: 80%;
  }

  .x-u-xxl-5-6, .x-u-xxl-20-24 {
    width: 83.3333%;
  }

  .x-u-xxl-7-8, .x-u-xxl-21-24 {
    width: 87.5%;
  }

  .x-u-xxl-11-12, .x-u-xxl-22-24 {
    width: 91.6667%;
  }

  .x-u-xxl-23-24 {
    width: 95.8333%;
  }

  .x-u-xxl-1, .x-u-xxl-1-1, .x-u-xxl-5-5, .x-u-xxl-24-24 {
    width: 100%;
  }
}
/*!
Pure v2.1.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/x-css/pure/blob/master/LICENSE
*/
/*csslint adjoining-classes: false, box-model:false*/
.x-menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.x-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.x-menu-list, .x-menu-item {
  position: relative;
}

.x-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.x-menu-item {
  padding: 0;
  margin: 0;
  height: 100%;
}

.x-menu-link, .x-menu-heading {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

/* HORIZONTAL MENU */
.x-menu-horizontal {
  width: 100%;
  white-space: nowrap;
}
.x-menu-horizontal .x-menu-list {
  display: inline-block;
}
.x-menu-horizontal .x-menu-item, .x-menu-horizontal .x-menu-heading, .x-menu-horizontal .x-menu-separator {
  display: inline-block;
  vertical-align: middle;
}

/* Initial menus should be inline-block so that they are horizontal */
/* Submenus should still be display: block; */
.x-menu-item .x-menu-item {
  display: block;
}

.x-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.x-menu-horizontal .x-menu-children {
  left: 0;
  top: auto;
  width: inherit;
}

.x-menu-allow-hover:hover > .x-menu-children, .x-menu-active > .x-menu-children {
  display: block;
  position: absolute;
}

/* Vertical Menus - show the dropdown arrow */
.x-menu-has-children > .x-menu-link:after {
  padding-left: 0.5em;
  content: "▸";
  font-size: small;
}

/* Horizontal Menus - show the dropdown arrow */
.x-menu-horizontal .x-menu-has-children > .x-menu-link:after {
  content: "▾";
}

/* scrollable menus */
.x-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}
.x-menu-scrollable .x-menu-list {
  display: block;
}

.x-menu-horizontal.x-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  /* a little extra padding for this style to allow for scrollbars */
  padding: 0.5em 0;
}
.x-menu-horizontal.x-menu-scrollable .x-menu-list {
  display: inline-block;
}

/* misc default styling */
.x-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: 0.3em 0;
}

.x-menu-horizontal .x-menu-children .x-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: 0.3em 0;
}
.x-menu-horizontal .x-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 0.3em;
}
.x-menu-horizontal .x-menu-children .x-menu-separator {
  display: block;
  width: auto;
}

/* Need to reset the separator since submenu is vertical */
.x-menu-heading {
  text-transform: uppercase;
  color: #565d64;
}

.x-menu-link {
  color: #777;
}

.x-menu-children {
  background-color: #fff;
}

.x-menu-link, .x-menu-heading {
  padding: 0.5em 1em;
}

.x-menu-disabled {
  opacity: 0.5;
}
.x-menu-disabled .x-menu-link:hover {
  background-color: transparent;
  cursor: default;
}

.x-menu-active > .x-menu-link {
  background-color: #eee;
}

.x-menu-link:hover, .x-menu-link:focus {
  background-color: #eee;
}

.x-menu-selected > .x-menu-link {
  color: #000;
}
.x-menu-selected > .x-menu-link:visited {
  color: #000;
}

/*!
Pure v2.1.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/x-css/pure/blob/master/LICENSE
*/
.x-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
.x-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
.x-table td, .x-table th {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */
}
.x-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
.x-table td {
  background-color: transparent;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.x-table-odd td, .x-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
/* BORDERED TABLES */
.x-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}
.x-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.x-table-horizontal td, .x-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}
.x-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/*# sourceMappingURL=_xcss.css.map */
